<%# locals: (object:) %>

<% if flash.any? %>
  <% flash.each do |type, message| %>
    <div class="message <%= type == "notice" ? "notice" : "alert" %>">
      <%= message %>
    </div>
  <% end %>
<% elsif object&.errors&.any? %>
  <div class="message alert">
    <% object.errors.messages.each do |t, messages| %>
      <% messages.each do |message| %>
        <%= message %><br>
      <% end %>
    <% end %>
  </div>
<% end %>