<h1>Welcome <%= Current.user.name %></h1>
<%= button_to "Logout", sign_out_path, method: :delete %>
<ul>
  <% @projects.each do |project| %>
    <li><h3><%= project.name %></h3></li>
  <% end %>
</ul>
