<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %></title>
    <%= render "shared/head" %>
  </head>

  <body class="taskodoro">
    <main>
      <%= yield %>
    </main>
  </body>
</html>